In [1]:
import pandas as pd
import numpy as np
from itertools import chain

In [2]:
#tickers
NASDAQ = pd.read_csv('C:/Users/Micha/Desktop/JupyterNotebooks/Robinhood/Robinhood/NASDAQ.txt',sep = '\t')
NYSE = pd.read_csv('C:/Users/Micha/Desktop/JupyterNotebooks/Robinhood/Robinhood/NYSE.txt',sep = '\t')
all_tickers = pd.merge(NASDAQ.Symbol,NYSE.Symbol,how = 'outer')
print(len(all_tickers))
all_tickers.head()
all_tickers.to_csv('C:/Users/Micha/Desktop/JupyterNotebooks/Robinhood/Robinhood/tickers.csv')

6688

In [3]:
#data cleaning
Robinhood_Stocks = pd.read_csv('C:/Users/Micha/Desktop/JupyterNotebooks/Robinhood/Robinhood/Robinhood_stocks_6242020.csv')

#BUY HOLD AND SELL
Robinhood_Stocks.Buy_Hold_Sell = Robinhood_Stocks.Buy_Hold_Sell.str.replace('%','')
#BUY
Robinhood_Stocks['Buy'] = Robinhood_Stocks.Buy_Hold_Sell\
[Robinhood_Stocks.Buy_Hold_Sell.notnull()].apply(lambda x: int(x.split(',')[0]))

#HOLD
Robinhood_Stocks['Hold'] = Robinhood_Stocks.Buy_Hold_Sell\
[Robinhood_Stocks.Buy_Hold_Sell.notnull()].apply(lambda x: int(x.split(',')[1]))

#SELL
Robinhood_Stocks['Sell'] = Robinhood_Stocks.Buy_Hold_Sell\
[Robinhood_Stocks.Buy_Hold_Sell.notnull()].apply(lambda x: int(x.split(',')[2]))

#Market Price
Robinhood_Stocks.Market_Price = Robinhood_Stocks.Market_Price.str.replace(',','').str.replace('$','').astype(float)

# collections
Robinhood_Stocks.Collections = Robinhood_Stocks.Collections\
[Robinhood_Stocks.Collections.notnull()].apply(lambda x: x.split(','))

#ratings
Robinhood_Stocks.Ratings = Robinhood_Stocks.Ratings[Robinhood_Stocks.Ratings.notnull()]\
.apply(lambda x: x.split(',')[1]).apply(lambda x: int(x.split(' ')[1]))

#Employees
Robinhood_Stocks.Employees[Robinhood_Stocks.Employees == '—'] = np.NaN
Robinhood_Stocks.Employees = Robinhood_Stocks.Employees[Robinhood_Stocks.Employees.notnull()]\
.str.replace(',','').astype(float)

#Market_cap

#PE_Ratio
#Dividend Yield
# Robinhood_Stocks.Dividend_Yield[Robinhood_Stocks.Dividend_Yield == '—'] = np.NaN
# Robinhood_Stocks.Dividend_Yield = Robinhood_Stocks.Dividend_Yield.astype(float)

C:\Users\Micha\Downloads\Anaconda\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
Robinhood_Stocks = Robinhood_Stocks[['Company_Name','Symbol','Market_Price','Employees',
                                     'Headquarters','Dividend_Yield','Market_Cap','PE_Ratio',
                                     'Ratings','Buy','Hold','Sell','Collections','Average_Volume']]
Robinhood_Stocks.head()

,Company_Name,Symbol,Market_Price,Employees,Headquarters,Dividend_Yield,Market_Cap,PE_Ratio,Ratings,Buy,Hold,Sell,Collections,Average_Volume
0,Acadia Healthcare,ACHC,24.31,42800.0,"Franklin, Tennessee",—,2.16B,19.98,14.0,43.0,57.0,0.0,"[Health, Healthcare, Kids, US, North America, ...",878.81K
1,Arch Capital (Preferred),ACGLP,24.40,NaN,"Pembroke, Hamilton",5.38,—,—,NaN,NaN,NaN,NaN,"[Finance, Insurance, Loan, Construction, Aeros...",41.24K
2,Arch Capital (Preferred),ACGLO,24.85,NaN,"Pembroke, Hamilton",5.48,—,—,NaN,NaN,NaN,NaN,"[Finance, Insurance, Loan, Construction, Aeros...",18.06K
3,Arch Capital,ACGL,28.45,4300.0,"Pembroke, Hamilton",—,11.54B,9.50,13.0,54.0,46.0,0.0,"[Insurance, Finance, Loan, Construction, Aeros...",2.69M
4,Acer,ACER,3.29,17.0,"Newton, Massachusetts",—,33.72M,—,NaN,NaN,NaN,NaN,"[Technology, Health, Therapy, Pharmaceutical, ...",382.48K

In [5]:
Robinhood_Stocks.sort_values(by = ['Buy','Ratings'],ascending = False).head()

,Company_Name,Symbol,Market_Price,Employees,Headquarters,Dividend_Yield,Market_Cap,PE_Ratio,Ratings,Buy,Hold,Sell,Collections,Average_Volume
1964,New Oriental Education & Technology,EDU,132.11,64327.0,"Beijing, Beijing",—,20.93B,47.60,31.0,100.0,0.0,0.0,"[Consulting, Business Services, Education, Tec...",1.35M
499,SK Telecom,SKM,18.68,5425.0,"Seoul, Seoul",4.76,12.30B,18.06,26.0,100.0,0.0,0.0,"[Telecommunications, Wireless, Internet, Softw...",528.60K
2653,JOYY Inc. American Depositary Shares,YY,93.63,9273.0,"Guangzhou, Guangdong",—,6.01B,84.22,26.0,100.0,0.0,0.0,NaN,2.03M
1366,Kookmin Bank,KB,28.14,183.0,"Seoul, Seoul",5.94,10.96B,4.12,24.0,100.0,0.0,0.0,"[Finance, Banking, Retail Banking, Credit Card...",285.19K
5766,Bilibili,BILI,43.73,4791.0,"Shanghai, Shanghai",—,11.54B,—,24.0,100.0,0.0,0.0,"[Technology, Entertainment, Media, Broadcastin...",7.38M

In [6]:
groups = Robinhood_Stocks.Collections[Robinhood_Stocks.Collections.notnull()]
all_groups = list(set(chain(*groups)))
print(len(all_groups))
all_groups[:5]

193

['Most Popular Under $25',
 'Pharmaceutical',
 'Dogs',
 'Water Utilities',
 'Pizza']

In [7]:
Robinhood_Stocks

,Company_Name,Symbol,Market_Price,Employees,Headquarters,Dividend_Yield,Market_Cap,PE_Ratio,Ratings,Buy,Hold,Sell,Collections,Average_Volume
0,Acadia Healthcare,ACHC,24.31,42800.0,"Franklin, Tennessee",—,2.16B,19.98,14.0,43.0,57.0,0.0,"[Health, Healthcare, Kids, US, North America, ...",878.81K
1,Arch Capital (Preferred),ACGLP,24.40,NaN,"Pembroke, Hamilton",5.38,—,—,NaN,NaN,NaN,NaN,"[Finance, Insurance, Loan, Construction, Aeros...",41.24K
2,Arch Capital (Preferred),ACGLO,24.85,NaN,"Pembroke, Hamilton",5.48,—,—,NaN,NaN,NaN,NaN,"[Finance, Insurance, Loan, Construction, Aeros...",18.06K
3,Arch Capital,ACGL,28.45,4300.0,"Pembroke, Hamilton",—,11.54B,9.50,13.0,54.0,46.0,0.0,"[Insurance, Finance, Loan, Construction, Aeros...",2.69M
4,Acer,ACER,3.29,17.0,"Newton, Massachusetts",—,33.72M,—,NaN,NaN,NaN,NaN,"[Technology, Health, Therapy, Pharmaceutical, ...",382.48K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6140,GameStop,GME,4.42,14000.0,"Grapevine, Texas",7.80,285.59M,—,9.0,0.0,67.0,33.0,"[Retail, Electronics, Video Games, Consumer Pr...",5.71M
6141,Globus Medical,GMED,44.91,2000.0,"Audubon, Pennsylvania",—,4.37B,32.64,13.0,69.0,23.0,8.0,"[Technology, Health, Medical, Healthcare, US, ...",1.43M
6142,Global Medical REIT,GMRE,11.07,NaN,"Bethesda, Maryland",6.94,509.07M,106.56,6.0,100.0,0.0,0.0,"[Finance, REIT, Medical, Healthcare, Rental an...",444.15K
6143,GMS,GMS,22.67,5800.0,"Tucker, Georgia",—,959.42M,11.94,8.0,50.0,50.0,0.0,"[Business Services, Upcoming Earnings, Retail,...",287.11K
6144,GATX Preferred,GMTA,25.77,NaN,"Chicago, Illinois",5.51,—,—,NaN,NaN,NaN,NaN,"[Finance, Rental and Lease, Insurance, Transpo...",5.13K

In [8]:
df = Robinhood_Stocks[['Symbol','Market_Price','Ratings', 'Buy','Hold','Sell']]
df = df[df.Ratings.notnull()]
print('Number of Analyst Rated Companies: ', len(df))
df.sample(5).sort_index()

Number of Analyst Rated Companies:  2159

     Symbol  Market_Price  Ratings   Buy  Hold  Sell
1451   IRET         67.69      8.0  38.0  63.0   0.0
2157    CRH         33.84     18.0  72.0  22.0   6.0
2177    COP         41.20     25.0  88.0  12.0   0.0
3438   RGEN        113.14      8.0  88.0  13.0   0.0
3842   OCUL          8.85      6.0  83.0  17.0   0.0

In [9]:
df.sort_values(by = ['Buy','Ratings'],ascending = False).head()

     Symbol  Market_Price  Ratings    Buy  Hold  Sell
1964    EDU        132.11     31.0  100.0   0.0   0.0
499     SKM         18.68     26.0  100.0   0.0   0.0
2653     YY         93.63     26.0  100.0   0.0   0.0
1366     KB         28.14     24.0  100.0   0.0   0.0
5766   BILI         43.73     24.0  100.0   0.0   0.0

In [10]:
print('Companies with 100% buy:',len(df[df.Buy == 100]))
print('Companies with 100% Hold:',len(df[df.Hold == 100]))
print('Companies with 100% Sell:',len(df[df.Sell == 100]))

Companies with 100% buy: 154
Companies with 100% Hold: 21
Companies with 100% Sell: 0

In [19]:
print('Average Number of ratings: ', round(df.Ratings.sum()/len(df),2))
print('Average Buy rating: ', round(df.Buy.sum()/len(df),2))
print('Average Hold rating: ', round(df.Hold.sum()/len(df),2))
print('Average Sell rating: ', round(df.Sell.sum()/len(df),2))

Average Number of ratings:  13.87
Average Buy rating:  55.42
Average Hold rating:  38.01
Average Sell rating:  6.63

In [22]:
df.sort_values(by = ['Sell','Ratings'],ascending = False).head()

     Symbol  Market_Price  Ratings  Buy  Hold  Sell
190     VAL        0.6295     14.0  0.0  14.0  86.0
2262    CHK       11.7500     13.0  0.0  15.0  85.0
1595     HE       35.5100      6.0  0.0  17.0  83.0
87      WLL        1.1800      9.0  0.0  33.0  67.0
2677    XOG        0.2730      9.0  0.0  33.0  67.0

In [42]:
top_rated = df[df.Buy == 100]
top_rated.sort_values(by = ['Market_Price']).head(10)

     Symbol  Market_Price  Ratings    Buy  Hold  Sell
4053   MOTS          1.37      6.0  100.0   0.0   0.0
3431   RIGL          1.81      6.0  100.0   0.0   0.0
4539   IDRA          1.89      6.0  100.0   0.0   0.0
4070   MNLO          1.92      9.0  100.0   0.0   0.0
4038   MRNS          2.80      8.0  100.0   0.0   0.0
6104   ADMA          2.91      6.0  100.0   0.0   0.0
3306   SELB          3.00      7.0  100.0   0.0   0.0
4258   LIVX          3.30      8.0  100.0   0.0   0.0
5602   CBAY          3.80     10.0  100.0   0.0   0.0
3266   SIEN          3.91      7.0  100.0   0.0   0.0

In [45]:
portfolio = top_rated.sort_values(by = ['Market_Price']).head(10)
portfolio.Market_Price.sum()

26.71

In [47]:
855.34/26.71

32.02321228004493

In [49]:
26.71*30

801.3000000000001